body {
    background-color: lightgray;
    font-weight: bold;
}

ul{
    list-style-type:disc;
    margin: 5px 20px;
}

ol{
    list-style-type: decimal;
    margin: 5px 20px;
}

mark{
    background-color: #91f291;
    margin-top: 10px;
    
}

.prettyprint{
    margin: 15px 15px 15px 30px;
}

.title{
    background-color: #91f291;
    color: #000;    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 40px;
    width: 100%;
    font-size: 25px;
    border-bottom: solid 3px black;
}

.subtitle {
    background-color: #91f291;
    border-radius: 12px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    transition: 200ms;
    width: auto;
    box-sizing: border-box;
    border: 0;
    font-size: 16px;
    display:inline-block;
}


.frame{
    border: solid 1px black;
    margin: 10px;
    padding: 10px;
    min-width: 500px;
}
